@import "variables.scss";

:root {
  background: $lightGrey;
  color: $greyBlue;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Space Mono", "san serif";
  font-size: 16px;
}

main {
  height: 100vh;
  width: 100%;
  transform: translate(0, 20%);
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.container-wrap {
  width: 45.625rem;
  flex-shrink: 0;
  margin: 0 auto;
}
.app-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;

  &-title {
    color: #222731;
    font-family: Space Mono;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.search-container {
  width: 45.625rem;
  height: 4.3125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: $whiteVar;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-box {
  width: 35rem;
  display: flex;
  align-items: center;
  margin-inline-start: 2rem;

  .icon-search {
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 1.50363rem;
    height: 1.5rem;
    flex-shrink: 0;

    path {
      fill: $blue !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.input-search {
  border: none;
  width: 90%;
  font-size: 1.25rem;
  color: $greyBlue;

  &::placeholder {
    color: $greyBlue;
  }

  &:focus {
    caret-color: $blue;
    color: $dark;
    outline: none;
  }
}
.theme {
  background: $black;
  color: $white;
}
@media (prefers-color-scheme: dark) {
  .dark-mode {
    background: $black;
    color: $white;
  }
}

[data-theme="dark"] {
  background: $black;
  color: $white;
  fill: $white;

  .app-header {
    &-title {
      color: $white;
    }
  }

  .btn {
    color: $white;
  }

  .search-container {
    background-color: $darkBlue;
  }
  .input-search {
    background-color: inherit;

    &::placeholder {
      color: $white;
    }
    &:focus {
      caret-color: $white;
      color: $white;
    }
  }

  .profile-info {
    background: $darkBlue;
  }
  .nickname {
    color: $white;
  }
  .date {
    color: $white;
  }
  .biographi {
    color: $white;
  }
  .activity {
    background: $black;
  }
  .activity-name {
    color: $white;
  }
  div.count {
    color: $white;
  }
  span.item-name,
  a.item-name {
    color: $white;
  }
  svg[class^="icon-"],
  [class*=" icon-"] {
    path {
      fill: $white !important;
    }
  }
}
