@import "variables.scss";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

:root {
  background: $lightGrey;
  color: $greyBlue;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Space Mono", "san serif";
  font-size: 1.6rem;
}

main {
  height: 100vh;
  width: 100%;
}

.container-wrap {
  width: 45.625rem;
  flex-shrink: 0;
  margin: 0 auto;
  padding-top: 5rem;
  min-width: 300px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;

  &-title {
    color: #222731;
    font-family: Space Mono;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.search-container {
  width: 41.5rem;
  padding: 1rem 2rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: $whiteVar;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box {
  display: flex;
  align-items: center;
  width:80%;

  .icon-search {
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 1.50363rem;
    height: 1.5rem;
    flex-shrink: 0;

    path {
      fill: $blue !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.input-search {
  border: none;
  font-size: 1.25rem;
  color: $greyBlue;
  width:100%;

  &::placeholder {
    color: $greyBlue;
  }

  &:focus {
    caret-color: $blue;
    color: $dark;
    outline: none;
  }
}
.search-formfield{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:1rem;
}
.theme {
  background: $black;
  color: $white;
}
@media (prefers-color-scheme: dark) {
  .dark-mode {
    background: $black;
    color: $white;
  }
}

[data-theme="dark"] {
  background: $black;
  color: $white;
  fill: $white;

  .app-header {
    &-title {
      color: $white;
    }
  }

  .btn {
    color: $white;
  }

  .search-container {
    background-color: $darkBlue;
  }
  .input-search {
    background-color: inherit;

    &::placeholder {
      color: $white;
    }
    &:focus {
      caret-color: $white;
      color: $white;
    }
  }

  .profile-info {
    background: $darkBlue;
  }
  .nickname {
    color: $white;
  }
  .date {
    color: $white;
  }
  .biographi {
    color: $white;
  }
  .activity {
    background: $black;

    .activity-name {
      color: $white;
    }
    .count {
      color: $white;
    }
  }

  span.item-name,
  a.item-name {
    color: $white;
  }
  svg[class^="icon-"],
  [class*=" icon-"] {
    path {
      fill: $white !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .app-header {
    &-title,
    .btn-word {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 426px) {
  .container-wrap {
    width: 85%;
    flex-shrink: 0;
    margin: 0 auto;
    padding-top: 3rem;
  }
  .search-container {
    width: -webkit-fill-available;
    flex-shrink: 0;
    padding: 0.5rem 1rem;
  }

  .app-header {
    &-title,
    .btn-word {
      font-size: 1.4rem;
    }
  }
  .search-box {
    margin-inline-start: 0;
  }
  .search-formfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0;
  }
  .input-search{
    width: 100%;
  }

}
