@import "variables.scss";

:root {
  background: $lightGrey;
  color: $darkGrey;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Space Mono", "san serif";
  font-size: 16px;
}

main{
  height: 100vh;
  width: 100%;
  transform: translate(0, 20%);
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.container-wrap {
  width: 45.625rem;
  flex-shrink: 0;
  margin: 0 auto;
}
.app-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;

  &-title {
    color: #222731;
    font-family: Space Mono;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.search-container {
  width: 45.625rem;
  height: 4.3125rem;
  flex-shrink: 0;
  border-radius: 0.9375rem;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-box {
  width: 35rem;
  display: flex;
  align-items: center;
  margin-inline-start: 2rem;
  .icon-search {
    margin-right: 1rem;
    font-size: 1.5rem;
    width: 1.50363rem;
    height: 1.5rem;
    flex-shrink: 0;

    &:hover{
      cursor: pointer;

    }
  }
}

.input-search {
  border: none;
  width: 90%;
  font-size: 1.25rem;
}
.theme {
  background: $black;
  color: $white;
}
@media (prefers-color-scheme: dark) {
  .dark-mode {
    background: $black;
    color: $white;
  }
}
