.btn {
  display: flex;
  background-color: transparent;
  border: none;
  color: #697c9a;
  text-align: right;
  font-family: Space Mono;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15625rem;
  text-transform: uppercase;
  align-items: center;

  &-word {
    margin-right: 1rem;
    font-size: 1.3rem;
  }
  &>.icon-moon,
  &>.icon-sun{
    height: 1.25rem;
    width: 1.25rem;
  }
  &:hover{
    cursor: pointer;
  }
}


.searchBtn {
  width: 6.625rem;
  padding: 1rem 1.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #0079ff;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;

  &:hover{
    cursor: pointer;

  }
  &.mobile{
    width:fit-content;
  }
}

.btn-container{

}
.errorMessage{
  width:30%;
  color:$error;
  font-size: 1.2rem;
}
.hidden{
  display: none;
}

@media screen and (max-width: 426px) {
  .searchBtn {
    width: 5rem;
    padding: .5rem 1rem;
  }

  .btn-container{
    margin-right: .5rem;
  }
  .errorMessage{
    width:100%;
    color:$error;
    font-size: 1rem;
  }
}