.btn {
  display: block;
  background-color: transparent;
  border: none;
  color: #697c9a;
  text-align: right;
  font-family: Space Mono;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15625rem;
  text-transform: uppercase;

  &-word{
    margin-right: 1rem;
  }
}
