//COLORS
//LIGHT MODE COLORS

$blue: #0079FF;
$grey: #697C9A;
$greyBlue:#4B6A9B;
$darkGrey: #2B3442;
$lightGrey:#F6F8FF;
$whiteVar: #FEFEFE;

//DARK MODE COLORS
$white: #FFFFFF;
$black: #141D2F;
$darkBlue: #1E2A47;
